@font-face {
    font-family: "PT Root UI";
    src: url("/Fonts/pt-root-ui_light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "PT Root UI";
    src: url("/Fonts/pt-root-ui_regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "PT Root UI";
    src: url("/Fonts/pt-root-ui_medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "PT Root UI";
    src: url("/Fonts/pt-root-ui_bold.ttf") format("truetype");
    font-weight: 700;
}

@function calculatePercentage($part, $whole) {
    $percentage: ($part / $whole) * 100;
    @return $percentage;
}

* {
    font-family: "PT Root UI", "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// ***COMMON***
main {
    overflow: hidden;
}

.container {
    width: 75.58vw;
    max-width: 1436px;
    margin: 0 auto;
}

h2 {
    font-size: 3.47vw;
    font-weight: 700;
    letter-spacing: 1.32px;
}

h3 {
    font-size: 2.3vw;
    font-weight: 700;
    line-height: 102%;
    letter-spacing: 0.88px;
}

.mobile {
    display: none;
}

@media screen and (min-width: 2001px) {
    h2 {
        font-size: 67px;
    }

    h3 {
        font-size: 45px;
        line-height: 45.4px;
    }
}

@media screen and (max-width: 998px) {
    .container {
        max-width: 548px;
    }

    h2 {
        font-size: 30px;
        letter-spacing: 0.6px;
    }

    h3 {
        font-size: 16.798px;
        letter-spacing: 0.336px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 90%;
        max-width: 368px;
    }

    .mobile {
        display: block;
    }

    h2 {
        font-size: 24px;
        letter-spacing: 0.48px;
    }

    h3 {
        font-size: 17.785px;
        letter-spacing: 0.356px;
        line-height: 18.36px;
    }
}

// ***BANNER***
.banner {
    height: 100vh;
    background: url("/IMG/Desktop.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    max-height: 1000px;
    overflow: hidden;
    position: relative;
    z-index: 5;

    &__cases {
        display: inline-block;
        margin-top: 12px;
    }

    &__title {
        h1 {
            font-size: 4.95vw;
            font-style: normal;
            font-weight: 700;
            line-height: 95%;
            letter-spacing: 1.88px;
            overflow: hidden;
        }

        p {
            margin-top: 43px;
            line-height: normal;
            font-size: 1.79vw;
            font-style: normal;
            font-weight: 400;
        }
    }

    .parallax {
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

@media screen and (min-width: 2001px) {
    .banner {
        &__title {
            h1 {
                font-size: 95px;
                line-height: 91px;
            }

            p {
                font-size: 35px;
            }
        }
    }
}

@media screen and (max-width: 998px) {
    .banner {
        height: 405px;
        background: url("/IMG/Tablet.png") center/cover no-repeat;

        &__cases {
            margin-top: 8px;
        }

        &__title {
            h1 {
                font-size: 37.996px;
                letter-spacing: 0.76px;
            }

            p {
                margin-top: 17px;
                font-size: 13.743px;
            }
        }
    }

    .parallax {
        height: 100%;
    }
}

@media screen and (max-width: 480px) {
    .banner {
        height: 100vh;
        max-height: 512px;
        background: url("/IMG/Mobile.png") center/cover no-repeat;

        &__cases {
            margin-top: 5px;
        }

        &__title {
            h1 {
                font-size: 33px;
                letter-spacing: 0.66px;
            }

            p {
                margin-top: 12.5px;
                font-size: 16px;
            }
        }
    }

    .parallax {
        height: 100%;
    }

    .desktop {
        display: none;
    }
}

// ***CATEGORIES***
.categories {
    margin-top: 91px;

    &__title {
        width: 100%;
        border-radius: 11px;
        background: var(--LIGHT-GREY, #f6f6f6);

        h2 {
            padding-left: 37px;
            line-height: 6.88vw;
            letter-spacing: 1.32px;
        }
    }

    &__list {
        margin-top: 71px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5vw;

        &-item {
            aspect-ratio: 1/1;
            max-width: 336px;
            max-height: 336px;
            border-radius: 11px;
            box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.25);
            position: relative;
            transition: transform 0.2s ease;
            cursor: pointer;

            &:hover {
                transform: translate(1px, -5px);
            }

            a {
                width: 100%;
                height: 100%;
                padding: 19px 16px;
                text-decoration: none;
                color: #fff;
                z-index: 1;
                display: flex;
                flex-direction: column;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 11px;
                z-index: -1;
            }
        }

        .last-item {
            background: var(--LIGHT-GREY, #f6f6f6);
            padding: 19px 16px;
            color: #e1e1e1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            box-shadow: none;
            cursor: default;

            &:hover {
                transform: none;
            }
        }

        h4 {
            margin-top: auto;
            font-size: 1.68vw;
            font-weight: 700;
        }

        p {
            margin-top: 16px;
            font-size: 1.15vw;
            font-weight: 400;
        }
    }
}

@media screen and (min-width: 2001px) {
    .categories {
        h2 {
            line-height: 68px;
            padding: 26px 37px;
        }

        &__list {
            gap: 31px;
        }

        h4 {
            font-size: 32px;
            line-height: 34px;
        }

        p {
            font-size: 22px;
            line-height: 26px;
        }
    }
}

@media screen and (max-width: 998px) {
    .categories {
        margin-top: 51px;

        &__title {
            h2 {
                padding: 11px 14px;
                line-height: 30.6px;
                letter-spacing: 0.6px;
            }
        }

        &__list {
            margin-top: 46px;

            &-item {
                max-width: 128px;
                max-height: 128px;
                box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.25);

                a {
                    padding: 11px 7px;
                }
            }

            .last-item {
                padding: 11px 7px;
            }

            h4 {
                font-size: 12px;
                line-height: 12.832px;
            }

            p {
                margin-top: 7px;
                font-size: 8.5px;
                line-height: 9.981px;
            }
        }
    }
}

@media screen and (max-width: 699px) {
    .categories {
        &__list {
            margin-top: 24px;
            grid-template-columns: repeat(3, 1fr);

            &-item {
                max-width: 176px;
                max-height: 176px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .categories {
        margin-top: 32px;

        &__title {
            h2 {
                padding: 10px;
                font-size: 24px;
                letter-spacing: 0.48px;
            }
        }

        &__list {
            grid-template-columns: repeat(2, 1fr);
            box-shadow: none;

            &-item {
                a {
                    padding: 12px 9px;
                }
            }

            .last-item {
                padding: 12px 9px;
            }

            h4 {
                font-size: 16px;
                line-height: 17.767px;
            }

            p {
                margin-top: 11px;
                font-size: 13px;
                line-height: 13.78px;
            }
        }
    }
}

// ***INSTRUCTIONS***
.instructions {
    margin-top: 80px;
    border-radius: 11px;
    background: var(--light-blue, #f3f5fc);
    padding: 2.25vh 0 6vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        margin-top: 1.35vw;
        font-size: 1.6vw;
        font-weight: 500;
        line-height: 114%;
    }

    &__box {
        display: flex;
        flex-direction: column;

        &-bar {
            display: flex;
            justify-content: space-between;
            padding: 2.7vw;

            &:first-child {
                border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
            }
        }
    }

    &__tips {
        width: 44%;
        margin-left: 76px;
        position: relative;

        .icon {
            position: absolute;
            left: -74px;
            top: -2px;
            z-index: 5;
        }
    }

    &__button {
        margin-top: 1.6vw;
        max-width: 1147px;
        width: 80%;
        border-radius: 11px;
        background: #fff;
        box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.25);
        margin-left: 15%;
        transition: transform 0.2s ease;

        a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 11px;
            // padding: 10px 21px;
            padding: 1vh 1vw;
        }

        h3 {
            margin: auto 0;
        }

        img {
            height: 5vw;
            transition: transform 0.2s ease;
        }

        &:hover {
            transform: translate(5px, -2px);

            img {
                transform: translateX(5px);
            }
        }
    }
}

@media screen and (min-width: 2001px) {
    .instructions {
        padding: 21px 0 61px 0;

        p {
            font-size: 35px;
            line-height: 40px;
        }

        &__box {
            &-bar {
                padding: 53px;
            }
        }

        &__button {
            margin-top: 40px;

            a {
                padding: 10px 21px;
            }

            img {
                height: 80px;
            }
        }
    }
}

@media screen and (max-width: 998px) {
    .instructions {
        margin-top: 40px;
        padding: 20px 0 15px 0;

        p {
            margin-top: 10px;
            font-size: 14px;
            line-height: 16px;
        }

        &__box {
            &-bar {
                padding: 9px 29px;

                &:first-child {
                    padding-bottom: 29px;
                }
            }
        }

        &__tips {
            width: 220px;
            margin-left: 14px;

            .icon {
                width: 24px;
                height: 24px;
                left: -30px;
                top: -2px;
                z-index: 5;
            }
        }

        &__button {
            width: 437px;
            max-width: 80%;
            box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.25);

            a {
                padding: 2px 12px;
            }

            // h3 {
            //     font-size: 18px;
            //     line-height: 102%;
            //     letter-spacing: 0.36px;
            // }

            img {
                height: 30px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .instructions {
        margin-top: 40px;
        padding: 13px 10px;

        p {
            font-size: 14px;
            line-height: 16px;
        }

        &__box {
            padding: 0 55px;

            &-bar {
                padding: 0;
                flex-direction: column;

                &:first-child {
                    padding: 0;
                    border-bottom: none;
                }
            }
        }

        &__tips {
            width: auto;
            margin: 25px 0 0 0;

            .icon {
                width: 33px;
                height: 33px;
                left: -42px;
                top: -7px;
            }
        }

        &__button {
            width: 100%;
            max-width: 347px;
            margin: 37px auto 0;

            a {
                padding: 11px 14px;
            }

            h3 {
                width: 80%;
                max-width: 228px;
                margin: 0 auto;
                text-align: center;
            }

            img {
                height: 33px;
            }
        }
    }
}

// ***BOTTOM***
.bottom {
    margin-top: 150px;
    height: 80vh;
    max-height: 721px;
    background: var(--LIGHT-GREY, #f6f6f6);
    padding-top: 128px;

    &__title {
        position: relative;
        z-index: 5;

        &-bar {
            margin-top: 76px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h3 {
            margin: auto 0;
            padding-left: 3vw;
        }

        p {
            // font-size: 35px;
            font-size: 1.83vw;
            // font-size: 1.6vw;
            font-weight: 500;
            line-height: 114%;
            width: 850px;
        }

        a {
            height: 70%;
            max-height: 101px;
            width: 40%;
            max-width: 474px;
            margin-right: 51px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 11px;
            background: #fff;
            // padding: 10px 21px;
            padding: 1vh 1vw;
            box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.25);
            transition: transform 0.2s ease;

            img {
                height: 4.8vw;
                margin-left: 3vw;
                transition: transform 0.2s ease;
            }

            &:hover {
                transform: translate(5px, -2px);

                img {
                    transform: translateX(5px);
                }
            }
        }

        &-img {
            position: absolute;
            z-index: -1;
        }
    }

    .points {
        top: 20%;
        right: -8%;
        overflow: hidden;
    }

    .arrow {
        right: 30%;
        top: 90%;
    }

    .sphere {
        top: -75%;
        left: -15%;
    }
}

@media screen and (min-width: 2001px) {
    .bottom {
        p {
            font-size: 35px;
            line-height: 40px;
        }

        h3 {
            padding-left: 77px;
        }

        a {
            img {
                height: 70px;
                margin-left: 55px;
            }
        }
    }
}

@media screen and (max-width: 998px) {
    .bottom {
        margin-top: 86px;
        height: 281px;
        padding-top: 40px;

        &__title {
            &-bar {
                margin-top: 27px;
            }

            h3 {
                padding-left: 15px;
            }

            p {
                font-size: 14px;
                line-height: 15.96px;
                width: 321px;
            }

            a {
                height: 42px;
                min-height: auto;
                width: 192px;
                margin-right: 12px;
                text-decoration: none;
                padding: 11px 15px;
                box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.25);
                transition: transform 0.2s ease;

                img {
                    height: 28px;
                    margin-left: 13px;
                }

                &:hover {
                    transform: translate(3px, -2px);

                    img {
                        transform: translateX(3px);
                    }
                }
            }

            &-img {
                position: absolute;
                z-index: -1;
            }

            &-points-wrapper {
                width: 100%;
                height: 100%;
            }
        }

        .points {
            width: 104px;
            top: 20%;
            right: -8%;
        }

        .arrow {
            height: 116px;
            right: 30%;
            top: 90%;
        }

        .sphere {
            height: 150px;
            top: -75%;
            left: -15%;
        }
    }
}

@media screen and (max-width: 480px) {
    .bottom {
        margin-top: 87px;
        height: 322px;
        padding-top: 37px;

        &__title {
            h2 {
                max-width: 239px;
            }

            &-bar {
                display: block;
                width: 100%;
            }

            h3 {
                padding-left: 15px;
            }

            p {
                font-size: 14px;
                line-height: 15.96px;
                width: 100%;
                max-width: 343px;
                margin-bottom: 42px;
                font-weight: 500;
            }

            a {
                width: 192px;
                margin: 0 15px 0 auto;
                padding: 11px 15px;
            }
        }

        .points {
            width: 104px;
            top: 65%;
            right: -8%;
        }

        .arrow {
            height: 116px;
            left: 8%;
            top: 75%;
        }

        .sphere {
            height: 137px;
            top: -35%;
            left: -20%;
        }
    }
}
