@charset "UTF-8";
@font-face {
  font-family: "PT Root UI";
  src: url("/Fonts/pt-root-ui_light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "PT Root UI";
  src: url("/Fonts/pt-root-ui_regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "PT Root UI";
  src: url("/Fonts/pt-root-ui_medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "PT Root UI";
  src: url("/Fonts/pt-root-ui_bold.ttf") format("truetype");
  font-weight: 700;
}
* {
  font-family: "PT Root UI", "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main {
  overflow: hidden;
}

.container {
  width: 75.58vw;
  max-width: 1436px;
  margin: 0 auto;
}

h2 {
  font-size: 3.47vw;
  font-weight: 700;
  letter-spacing: 1.32px;
}

h3 {
  font-size: 2.3vw;
  font-weight: 700;
  line-height: 102%;
  letter-spacing: 0.88px;
}

.mobile {
  display: none;
}

.slides {
  position: relative;
}
.slides-wrapper {
  width: 100%;
  overflow: hidden;
}
.slides-arrow {
  position: absolute;
  height: 6vw;
  top: 42%;
  cursor: pointer;
}
.slides-arrow.left {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  left: -10%;
}
.slides-arrow.left:hover {
  -webkit-transform: rotateY(180deg) translateX(5px);
          transform: rotateY(180deg) translateX(5px);
}
.slides-arrow.right {
  right: -10%;
}
.slides-arrow.right:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

@media screen and (min-width: 2001px) {
  h2 {
    font-size: 67px;
  }
  h3 {
    font-size: 45px;
    line-height: 45.4px;
  }
}
@media screen and (max-width: 998px) {
  .container {
    max-width: 548px;
  }
  h2 {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
  h3 {
    font-size: 16.798px;
    letter-spacing: 0.336px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 90%;
    max-width: 368px;
  }
  .mobile {
    display: block;
  }
  h2 {
    font-size: 24px;
    letter-spacing: 0.48px;
  }
  h3 {
    font-size: 17.785px;
    letter-spacing: 0.356px;
    line-height: 18.36px;
  }
}
.banner {
  height: 100vh;
  background: url("/IMG/Desktop.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  max-height: 1000px;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.banner__cases {
  display: inline-block;
  margin-top: 12px;
}
.banner__title h1 {
  font-size: 4.95vw;
  font-style: normal;
  font-weight: 700;
  line-height: 95%;
  letter-spacing: 1.88px;
  overflow: hidden;
}
.banner__title p {
  margin-top: 43px;
  line-height: normal;
  font-size: 1.79vw;
  font-style: normal;
  font-weight: 400;
}
.banner .parallax {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

@media screen and (min-width: 2001px) {
  .banner__title h1 {
    font-size: 95px;
    line-height: 91px;
  }
  .banner__title p {
    font-size: 35px;
  }
}
@media screen and (max-width: 998px) {
  .banner {
    height: 405px;
    background: url("/IMG/Tablet.png") center/cover no-repeat;
  }
  .banner__cases {
    margin-top: 8px;
  }
  .banner__title h1 {
    font-size: 37.996px;
    letter-spacing: 0.76px;
  }
  .banner__title p {
    margin-top: 17px;
    font-size: 13.743px;
  }
  .parallax {
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .banner {
    height: 100vh;
    max-height: 512px;
    background: url("/IMG/Mobile.png") center/cover no-repeat;
  }
  .banner__cases {
    margin-top: 5px;
  }
  .banner__title h1 {
    font-size: 33px;
    letter-spacing: 0.66px;
  }
  .banner__title p {
    margin-top: 12.5px;
    font-size: 16px;
  }
  .parallax {
    height: 100%;
  }
  .desktop {
    display: none;
  }
}
.categories {
  margin-top: 91px;
}
.categories__title {
  width: 100%;
  border-radius: 11px;
  background: var(--LIGHT-GREY, #f6f6f6);
}
.categories__title h2 {
  padding-left: 37px;
  line-height: 6.88vw;
  letter-spacing: 1.32px;
}
.categories__list-main {
  margin-top: 71px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5vw 1fr 1.5vw 1fr 1.5vw 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5vw;
}
.categories__list-list {
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  height: 18vw;
}
.categories__list-item {
  aspect-ratio: 1/1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 336px;
  max-height: 336px;
  border-radius: 11px;
  position: relative;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  cursor: pointer;
}
.categories__list-item:hover {
  -webkit-transform: translate(1px, -5px);
          transform: translate(1px, -5px);
}
.categories__list-item a {
  width: 100%;
  height: 100%;
  padding: 19px 16px;
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.categories__list-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 11px;
  z-index: -1;
}
.categories__list .last-item {
  background: var(--LIGHT-GREY, #f6f6f6);
  padding: 19px 16px;
  color: #e1e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: default;
}
.categories__list .last-item:hover {
  -webkit-transform: none;
          transform: none;
}
.categories__list .main {
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.25);
}
.categories__list h4 {
  margin-top: auto;
  font-size: 1.68vw;
  font-weight: 700;
}
.categories__list p {
  margin-top: 16px;
  font-size: 1.15vw;
  font-weight: 400;
}

@media screen and (min-width: 2001px) {
  .categories h2 {
    line-height: 68px;
    padding: 26px 37px;
  }
  .categories__list {
    gap: 31px;
  }
  .categories h4 {
    font-size: 32px;
    line-height: 34px;
  }
  .categories p {
    font-size: 22px;
    line-height: 26px;
  }
}
@media screen and (max-width: 998px) {
  .categories {
    margin-top: 51px;
  }
  .categories__title h2 {
    padding: 11px 14px;
    line-height: 30.6px;
    letter-spacing: 0.6px;
  }
  .categories__list {
    margin-top: 46px;
  }
  .categories__list-item {
    max-width: 128px;
    max-height: 128px;
    -webkit-box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.25);
  }
  .categories__list-item a {
    padding: 11px 7px;
  }
  .categories__list .last-item {
    padding: 11px 7px;
  }
  .categories__list h4 {
    font-size: 12px;
    line-height: 12.832px;
  }
  .categories__list p {
    margin-top: 7px;
    font-size: 8.5px;
    line-height: 9.981px;
  }
}
@media screen and (max-width: 699px) {
  .categories__list {
    margin-top: 24px;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
  .categories__list-item {
    max-width: 176px;
    max-height: 176px;
  }
}
@media screen and (max-width: 480px) {
  .categories {
    margin-top: 32px;
  }
  .categories__title h2 {
    padding: 10px;
    font-size: 24px;
    letter-spacing: 0.48px;
  }
  .categories__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .categories__list-item a {
    padding: 12px 9px;
  }
  .categories__list .last-item {
    padding: 12px 9px;
  }
  .categories__list h4 {
    font-size: 16px;
    line-height: 17.767px;
  }
  .categories__list p {
    margin-top: 11px;
    font-size: 13px;
    line-height: 13.78px;
  }
}
.instructions {
  margin-top: 80px;
  border-radius: 11px;
  background: var(--light-blue, #f3f5fc);
  padding: 2.25vh 0 6vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.instructions p {
  margin-top: 1.35vw;
  font-size: 1.6vw;
  font-weight: 500;
  line-height: 114%;
}
.instructions__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.instructions__box-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.7vw;
}
.instructions__box-bar:first-child {
  border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
}
.instructions__tips {
  width: 44%;
  margin-left: 76px;
  position: relative;
}
.instructions__tips .icon {
  position: absolute;
  left: -74px;
  top: -2px;
  z-index: 5;
}
.instructions__button {
  margin-top: 1.6vw;
  max-width: 1147px;
  width: 80%;
  border-radius: 11px;
  background: #fff;
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.25);
  margin-left: 15%;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.instructions__button a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 11px;
  padding: 1vh 1vw;
}
.instructions__button h3 {
  margin: auto 0;
}
.instructions__button img {
  height: 5vw;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.instructions__button:hover {
  -webkit-transform: translate(5px, -2px);
          transform: translate(5px, -2px);
}
.instructions__button:hover img {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

@media screen and (min-width: 2001px) {
  .instructions {
    padding: 21px 0 61px 0;
  }
  .instructions p {
    font-size: 35px;
    line-height: 40px;
  }
  .instructions__box-bar {
    padding: 53px;
  }
  .instructions__button {
    margin-top: 40px;
  }
  .instructions__button a {
    padding: 10px 21px;
  }
  .instructions__button img {
    height: 80px;
  }
}
@media screen and (max-width: 998px) {
  .instructions {
    margin-top: 40px;
    padding: 20px 0 15px 0;
  }
  .instructions p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
  }
  .instructions__box-bar {
    padding: 9px 29px;
  }
  .instructions__box-bar:first-child {
    padding-bottom: 29px;
  }
  .instructions__tips {
    width: 220px;
    margin-left: 14px;
  }
  .instructions__tips .icon {
    width: 24px;
    height: 24px;
    left: -30px;
    top: -2px;
    z-index: 5;
  }
  .instructions__button {
    width: 437px;
    max-width: 80%;
    -webkit-box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.25);
  }
  .instructions__button a {
    padding: 2px 12px;
  }
  .instructions__button img {
    height: 30px;
  }
}
@media screen and (max-width: 480px) {
  .instructions {
    margin-top: 40px;
    padding: 13px 10px;
  }
  .instructions p {
    font-size: 14px;
    line-height: 16px;
  }
  .instructions__box {
    padding: 0 55px;
  }
  .instructions__box-bar {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .instructions__box-bar:first-child {
    padding: 0;
    border-bottom: none;
  }
  .instructions__tips {
    width: auto;
    margin: 25px 0 0 0;
  }
  .instructions__tips .icon {
    width: 33px;
    height: 33px;
    left: -42px;
    top: -7px;
  }
  .instructions__button {
    width: 100%;
    max-width: 347px;
    margin: 37px auto 0;
  }
  .instructions__button a {
    padding: 11px 14px;
  }
  .instructions__button h3 {
    width: 80%;
    max-width: 228px;
    margin: 0 auto;
    text-align: center;
  }
  .instructions__button img {
    height: 33px;
  }
}
.bottom {
  margin-top: 150px;
  height: 80vh;
  max-height: 721px;
  background: var(--LIGHT-GREY, #f6f6f6);
  padding-top: 128px;
}
.bottom__title {
  position: relative;
  z-index: 5;
}
.bottom__title-bar {
  margin-top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom__title h3 {
  margin: auto 0;
  padding-left: 3vw;
}
.bottom__title p {
  font-size: 1.83vw;
  font-weight: 500;
  line-height: 114%;
  width: 850px;
}
.bottom__title a {
  height: 70%;
  max-height: 101px;
  width: 40%;
  max-width: 474px;
  margin-right: 51px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 11px;
  background: #fff;
  padding: 1vh 1vw;
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.bottom__title a img {
  height: 4.8vw;
  margin-left: 3vw;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.bottom__title a:hover {
  -webkit-transform: translate(5px, -2px);
          transform: translate(5px, -2px);
}
.bottom__title a:hover img {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}
.bottom__title-img {
  position: absolute;
  z-index: -1;
}
.bottom .points {
  top: 20%;
  right: -8%;
  overflow: hidden;
}
.bottom .arrow {
  right: 30%;
  top: 90%;
}
.bottom .sphere {
  top: -75%;
  left: -15%;
}

@media screen and (min-width: 2001px) {
  .bottom p {
    font-size: 35px;
    line-height: 40px;
  }
  .bottom h3 {
    padding-left: 77px;
  }
  .bottom a img {
    height: 70px;
    margin-left: 55px;
  }
}
@media screen and (max-width: 998px) {
  .bottom {
    margin-top: 86px;
    height: 281px;
    padding-top: 40px;
  }
  .bottom__title-bar {
    margin-top: 27px;
  }
  .bottom__title h3 {
    padding-left: 15px;
  }
  .bottom__title p {
    font-size: 14px;
    line-height: 15.96px;
    width: 321px;
  }
  .bottom__title a {
    height: 42px;
    min-height: auto;
    width: 192px;
    margin-right: 12px;
    text-decoration: none;
    padding: 11px 15px;
    -webkit-box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.25);
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  }
  .bottom__title a img {
    height: 28px;
    margin-left: 13px;
  }
  .bottom__title a:hover {
    -webkit-transform: translate(3px, -2px);
            transform: translate(3px, -2px);
  }
  .bottom__title a:hover img {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  .bottom__title-img {
    position: absolute;
    z-index: -1;
  }
  .bottom__title-points-wrapper {
    width: 100%;
    height: 100%;
  }
  .bottom .points {
    width: 104px;
    top: 20%;
    right: -8%;
  }
  .bottom .arrow {
    height: 116px;
    right: 30%;
    top: 90%;
  }
  .bottom .sphere {
    height: 150px;
    top: -75%;
    left: -15%;
  }
}
@media screen and (max-width: 480px) {
  .bottom {
    margin-top: 87px;
    height: 322px;
    padding-top: 37px;
  }
  .bottom__title h2 {
    max-width: 239px;
  }
  .bottom__title-bar {
    display: block;
    width: 100%;
  }
  .bottom__title h3 {
    padding-left: 15px;
  }
  .bottom__title p {
    font-size: 14px;
    line-height: 15.96px;
    width: 100%;
    max-width: 343px;
    margin-bottom: 42px;
    font-weight: 500;
  }
  .bottom__title a {
    width: 192px;
    margin: 0 15px 0 auto;
    padding: 11px 15px;
  }
  .bottom .points {
    width: 104px;
    top: 65%;
    right: -8%;
  }
  .bottom .arrow {
    height: 116px;
    left: 8%;
    top: 75%;
  }
  .bottom .sphere {
    height: 137px;
    top: -35%;
    left: -20%;
  }
}
.description-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3.6px;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  margin: 35px 0 15px;
}
.description .title-main {
  text-align: center;
}
.description-text {
  font-size: 1.245vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5vw;
}
.description-avatar {
  width: 115px;
}

.no-margin {
  margin-top: 0px;
}

.starting-dates {
  position: absolute;
  border-radius: 45px;
  border: 5px solid var(--BLUE, #123cce);
  background: #fff;
  display: block;
  top: 3.12vw;
  right: -1.6vw;
  padding: 0.8vw 1.35vw 0.8vw 1.53vw;
}
.starting-dates-text {
  color: var(--BLUE, #123cce);
  font-size: 1.37vw;
  font-weight: 700;
}

.subtitle {
  font-weight: 700;
}

.button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 45px;
  border: 2px solid var(--BLUE, #123cce);
  background: var(--BLUE, #123cce);
  color: #fff;
  text-align: center;
  font-size: 1.37vw;
  font-weight: 700;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.button:hover {
  color: var(--BLUE, #123cce);
  background: #fff;
}

@media screen and (min-width: 2001px) {
  .description-text {
    font-size: 24px;
    line-height: 40.92px;
  }
  .description-avatar {
    width: 115px;
  }
  .starting-dates {
    top: 62px;
    right: -24px;
    padding: 16px 24px 16px 34px;
  }
  .starting-dates-text {
    font-size: 26px;
  }
  .button {
    font-size: 26px;
  }
}
.title h1 {
  font-size: 4.95vw;
  font-weight: 700;
  line-height: 95%;
  letter-spacing: 1.88px;
  overflow: hidden;
}
.title p {
  margin-top: 65px;
  font-size: 1.79vw;
  font-weight: 400;
  width: 80%;
  max-width: 1221px;
}

@media screen and (min-width: 2001px) {
  .title h1 {
    font-size: 94px;
  }
  .title p {
    font-size: 36px;
  }
}
.lek {
  position: relative;
}
.lek__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.lek-title {
  margin-top: 152px;
}
.lek-list {
  margin-left: 30px;
}
.lek-list li {
  list-style-type: disc;
  font-size: 1.245vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.13vw;
}
.lek-cours {
  margin-top: 72px;
  padding: 61px 60px 57px 37px;
  background: var(--light-blue, #f3f5fc);
  border-radius: 11px;
  position: relative;
}
.lek-cours__title h2 {
  width: 80%;
}
.lek-cours__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 51px;
}
.lek-cours__content-list {
  margin-top: 59px;
}
.lek-cours__content-right {
  width: 50%;
}
.lek-cours__content-right iframe {
  width: 100%;
  height: 100%;
  max-width: 677px;
  max-height: 400px;
}
.lek-cours__content-left {
  width: 50%;
}
.lek-cours__content-left h3 {
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.627px;
}
.lek-cours__content-left-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 52px;
}
.lek-cours__content-left-bottom p {
  color: var(--BLUE, #123cce);
  text-align: center;
  font-size: 20px;
  font-size: 1.05vw;
  font-style: normal;
  font-weight: 700;
  margin: auto 52px auto 45px;
}
.lek-cours__content-left-bottom a {
  width: 17.7vw;
  padding: 0.77vw 1.6vw;
}
.lek-description {
  margin-top: 16px;
  padding: 29px 77px 34px 39px;
  border-radius: 11px;
  background: var(--light-blue, #f3f5fc);
  position: relative;
  cursor: pointer;
}
.lek-description h4 {
  font-size: 32px;
  font-weight: 500;
  line-height: 33.627px;
}
.lek-description img {
  position: absolute;
  top: 26px;
  right: 26px;
}
.lek-description .arrow-toggler {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  cursor: pointer;
}
.lek-description .rotated {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.lek-description__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.8s ease;
  transition: max-height 0.8s ease;
  -webkit-transition: margin-top 0.5s ease;
  transition: margin-top 0.5s ease;
}
.lek-description__content-left {
  margin-right: 84px;
  max-width: 50%;
}
.lek-description__subtitle {
  margin-top: 26px;
  display: inline-block;
}
p:first-of-type .lek-description__subtitle {
  margin-top: 0;
}

@media screen and (min-width: 2001px) {
  .lek__img {
    right: 1vw;
  }
  .lek-list li {
    font-size: 24px;
    line-height: 40.92px;
  }
  .lek-cours__content-left-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 52px;
  }
  .lek-cours__content-left-bottom p {
    font-size: 20px;
  }
  .lek-cours__content-left-bottom a {
    width: 337px;
    padding: 15px 30px;
  }
}
.courses {
  position: relative;
  z-index: 2;
  background: rgb(247, 247, 247);
  margin-top: 152px;
  padding-bottom: 10vw;
}
.courses__img {
  position: absolute;
}
.courses__img.up {
  top: 5.8rem;
  right: -2vw;
  width: 45vw;
}
.courses__img.down {
  bottom: 0;
  left: 0;
  width: 15vw;
}
.courses__title {
  padding-top: 6rem;
  margin-bottom: 6.2rem;
}
.courses__info {
  position: relative;
  border-radius: 0.69rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.63rem 0.06rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.25rem 0.25rem 0.63rem 0.06rem rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  padding: 35px 40px 68px 41px;
  margin-top: 3.1rem;
}
.courses__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.courses__description-half p {
  width: 88%;
}
.courses__description-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.courses__description-bottom .starting-dates-text {
  margin-right: 1.28vw;
}
.courses__description-bottom .description-text {
  margin-left: 1.245vw;
}
.courses__description-bottom a {
  padding: 0.77vw 1.8vw;
  margin-left: 1vw;
}

@media screen and (min-width: 2001px) {
  .courses {
    position: relative;
    z-index: 2;
    background: rgb(247, 247, 247);
    margin-top: 152px;
    padding-bottom: 10vw;
  }
  .courses__img {
    position: absolute;
  }
  .courses__img.up {
    top: 5.8rem;
    right: -2vw;
    width: 45vw;
    max-width: 1200px;
  }
  .courses__img.down {
    bottom: 0;
    left: 0;
    width: 15vw;
    max-width: 480px;
  }
  .courses__title {
    padding-top: 6rem;
    margin-bottom: 6.2rem;
  }
  .courses__info {
    position: relative;
    border-radius: 0.69rem;
    -webkit-box-shadow: 0.25rem 0.25rem 0.63rem 0.06rem rgba(0, 0, 0, 0.1);
            box-shadow: 0.25rem 0.25rem 0.63rem 0.06rem rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    padding: 35px 40px 68px 41px;
    margin-top: 3.1rem;
  }
  .courses__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .courses__description-half p {
    width: 88%;
  }
  .courses__description-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .courses__description-bottom .starting-dates-text {
    margin-right: 44px;
  }
  .courses__description-bottom .description-text {
    margin-left: 38px;
  }
  .courses__description-bottom a {
    padding: 13px 30px;
    margin-left: 12px;
  }
}
.disclaimer {
  background-color: #fff;
  height: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.disclaimer h3 {
  margin-right: 25px;
  font-weight: 400;
}
.disclaimer h3 .subtitle {
  text-decoration: underline;
}
.disclaimer img {
  width: 4vw;
}

@media screen and (min-width: 2001px) {
  .courses {
    padding-bottom: 198px;
  }
  .courses__img.up {
    max-width: 1000px;
  }
  .courses__info {
    margin-top: 100px;
  }
  .disclaimer {
    height: 200px;
  }
  .disclaimer img {
    max-width: 80px;
  }
}
.list {
  background: rgb(229, 229, 229);
}
.list__title {
  margin-top: 100px;
  width: 100%;
  max-height: 420px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 15px;
}
.list__title img {
  width: auto;
  height: auto;
}
.list__title-wrapper {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list__title-name {
  font-size: 4.95vw;
  line-height: 95%;
  letter-spacing: 1.88px;
  text-align: center;
}
.list__title-amount {
  text-transform: uppercase;
  margin-top: 46px;
  font-size: 24px;
  letter-spacing: 2px;
}
.list__menu-description {
  margin: 38px auto;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
}
.list__menu-list {
  margin-top: 9.5vw;
}
.list__menu-list li {
  width: 100%;
  margin-top: 40px;
  border-radius: 11px;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.list__menu-list li:hover {
  -webkit-transform: translate(4px);
          transform: translate(4px);
}
.list__menu-link {
  width: 100%;
  height: 100%;
  display: block;
}
.list__menu-title {
  padding: 28px 60px 28px 48px;
}
.list__menu-about {
  padding: 18px 60px 18px 48px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 3px;
  text-align: left;
  text-transform: uppercase;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  width: 100%;
}
.list__menu-about::before {
  content: "•"; /* Юникод для круглого маркера */
  font-size: 1.2em; /* Размер маркера, при необходимости */
  margin-right: 8px; /* Расстояние между маркером и текстом абзаца */
}
.list__bottom {
  margin-top: 113px;
  padding: 75px 0;
  background: rgb(255, 255, 255);
}
.list__bottom-subtitle {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 44px;
}

.guide__title {
  width: 100%;
  margin-top: 112px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: rgb(94, 72, 109);
  color: rgb(255, 255, 255);
}
.guide__title h2 {
  padding: 44px 37px;
}
.guide__title-about {
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  padding: 31px 37px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 3px;
  text-align: left;
  text-transform: uppercase;
}
.guide__title-about::before {
  content: "•"; /* Юникод для круглого маркера */
  font-size: 1.2em; /* Размер маркера, при необходимости */
  margin-right: 8px; /* Расстояние между маркером и текстом абзаца */
}